:root{
    --span-color:  #fd9222;
    --main-title: #fff;
    --main-text: #111;
    --transition: 300ms linear;
}

html{
    scroll-behavior:smooth;
}
body{
    font-family: 'Montserrat',sans-serif;
    background-color: #fafafa;
}

ul,ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a{
    text-decoration: none;
}


button{
    cursor: pointer;
}
p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}

.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

img{
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/* ------------------HEADER-------------------- */

.header{
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-container{
    display: flex;
}

.header-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
}


.header-list, .header-soc-list{
    display: none;
}


.header-logo{
font-weight: 700;
font-size: 18px;
line-height: 1.11;
letter-spacing: -0.03em;
color: var(--main-text);
display: flex;
align-items: center;
 gap: 5px;
}


.header-logo span{
    font-style: italic;
}


/* ------------MOBILE_MENU-------------- */
.mob-menu{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: #1e1823;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;

}

.open-menu-btn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;
}

.open-menu-btn span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #111;
    border-radius: 2px;
    box-shadow: 0 7px 0 0 #111, 0 -7px 0 0 #111;
}
.close-menu-btn{
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
    margin-bottom: 88px;
}
.modal-menu-icon{
    stroke: var(--main-title);
}

.mob-list{
    padding-left: 28px;
    margin-bottom: 50px;
}

.mob-link{
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: -0.02em;
color: var(--main-title);
}

.mob-item:first-child > a{
    color: var(--span-color);
}

.mob-item:not(:last-child){
    margin-bottom: 24px;
}

.mob-soc-list{
    display: flex;
    gap: 18px;
}

.mob-icon{
    fill: var(--main-title);
}
/* --------------HERO--------------- */
.hero{
    padding-bottom: 72px;
}
.hero-container{
    padding: 395px 20px 20px 20px;
   background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%)
   ,url(../img/chocolate-mob.jpeg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   border-radius: 30px;
}

@media (min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .hero-container{
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%)
   ,url(../img/chocolate-mob-2x.jpg);
    }
}
    

.hero-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: -0.03em;
color: var(--main-title);
margin-bottom: 32px;
}

.hero-btn{
    font-weight: 600;
    font-size: 14px;
    color: var(--main-title);
    background-color:var(--span-color);
    border-radius: 100px;
    border: 2px solid transparent;
    padding: 12px 20px;
    margin-right: 14px;
    transition: background-color var(--transition),color var(--transition),border-color var(--transition)
}
.hero-link{
    border: 1px solid var(--main-title);
    border-radius: 100px;
    padding: 12px 14px;
    color: var(--main-title);
    transition: background-color var(--transition), border var(--transition)
}

.hero-btn:hover,
.hero-btn:focus{
    background-color: var(--main-title);
    border-color: var(--span-color);
    color: var(--span-color);
}
.hero-link:hover,
.hero-link:focus{
    background-color: var(--span-color);
    border: 1px solid var(--span-color);
}

.hero-scroll{
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: -0.03em;
color: var(--main-title);
margin-top: 32px;
display: flex;
align-items: center;
gap: 14px;
}

.hero-scroll span{
    width: 38px;
    height: 38px;
    background-color: #fafafa;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition);
}

.hero-scroll:hover span{
background-color: var(--span-color);
}

.hero-scroll:hover .hero-icon{
  fill: #fafafa;
}
.hero-icon{
    fill:var(--span-color);
    transition: fill var(--transition);
}
.hero-buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* -----------BENEFITS----------------- */
.benefits{
 background-color: #1e1823;
 padding-top: 20px;
 padding-bottom: 20px;
}

.benefits-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.benefits-item{
    width: 100%;
    position: relative;
}

.benefits-item::before{
    content: '';
    display: block;
    width: 62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    margin-bottom: 22px;
}

.benefits-item:first-child:before{
    background-image: url(../img/chocolate-bar.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.benefits-item:nth-child(2):before{
    background-image: url(../img/coin.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.benefits-item:last-child:before{
    background-image: url(../img/spoon.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.benefits-item:not(:last-child)::after{
    display: none;
}

.benefits-title{
    font-weight: 600;
    font-size: 18px;
    color: var(--main-title);
    margin-bottom: 18px;
}

.benefits-text{
font-size: 14px;
letter-spacing: -0.02em;
color: rgba(255, 255, 255, 0.7);
}

/* ---------------TASTE-------------------- */

.taste{
    padding-top: 60px;
    padding-bottom: 30px;
}

.taste-title{
max-width: 411px;
font-weight: 600;
font-size: 24px;
line-height: 1.16;
letter-spacing: -0.03em;
text-align: center;
color: var(--main-text);
margin: 0 auto;
margin-bottom: 24px;
}

.taste-title span{
    color:var(--span-color);
}

.taste-text{
 max-width: 486px;
font-weight: 400;
font-size: 14px;
line-height: 1.2;
letter-spacing: -0.02em;
text-align: center;
color: var(--main-text);
margin: 0 auto;
margin-bottom: 32px;
}

.taste-title-h3 {
font-weight: 600;
font-size: 14px;
line-height: 1.2;
letter-spacing: -0.02em;
color:var(--main-title);
margin-top: 36px;
}
.dark{
    color: var(--main-text);
}

.taste-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.taste-item{
    width: 100%;
    padding: 28px 36px 28px 28px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

.taste-item img{
    margin: 0 auto;
}

.taste-item:hover .taste-wrap{
    transform: translate(0);
}
.taste-item:nth-child(even){
    background-color:var(--main-title);
    border: 1px solid var(--span-color);
}

.taste-item:first-child{
    background-color:  var(--span-color);
}

.taste-item:nth-child(3){
    background-color: #1e1823;;
}

.taste-wrap{
    position: absolute;
    background-color: var(--main-title);
    top: 0;
    left: 0;
    border-radius: 15px;
    padding: 20px 20px;
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--transition);
}
.taste-wrap-title{
font-weight: 600;
font-size: 18px;
letter-spacing: -0.03em;
text-transform: uppercase;
color: var(--main-text);
margin-bottom: 18px;
}

.taste-wrap-text{
font-weight: 400;
font-size: 14px;
line-height: 1.2;
letter-spacing: -0.02em;
color: var(--main-text);
}
/* ----------------MADE-------------------- */

.made{
    padding-top: 30px;
    padding-bottom: 30px;
}

.made-title{
font-weight: 600;
font-size: 24px;
line-height: 1.16;
letter-spacing: -0.03em;
text-align: center;
color: var(--main-text);
margin-bottom: 32px;
}

.made-title span{
    color: var(--span-color);;
}

.made-title-h3{
    max-width: 307px;
font-weight: 600;
font-size: 18px;
line-height: 1.3;
color: var(--main-text);
margin-bottom: 20px;

}

.made-text{
font-weight: 400;
font-size: 14px;
line-height: 1.2;
letter-spacing: -0.02em;
color: var(--main-text);
}

.made-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.made-com-container{
background-color: var(--main-title);
border-radius: 15px;
padding: 20px 14px;
}

.made-list{
    padding-left: 16px;
}

.made-item{
    max-width: 307px;
    position: relative;
}

.made-item:not(:last-child){
    margin-bottom: 18px;
}
.made-item::before{
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 5px;
    left: -16px;
    background-color: #4C4C4C;
    border: 1px solid #ECEDED;
    border-radius: 100%;
}
/* ------------LOVED-------------------- */
.love{
    padding-top: 30px;
    padding-bottom: 60px;
}

.loved-title{
font-weight: 600;
font-size: 24px;
line-height: 1.1;
letter-spacing: -0.03em;
text-align: center;
color:var(--main-text);
margin-bottom: 91px;
}

.loved-title span{
    color: var(--span-color);
}

.loved-list{
display: flex;
flex-wrap: wrap;
gap: 50px 28px;
margin-bottom: 50px;
}

.loved-item{
    width: 100%;
    border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 15px;
box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
background-color:var(--main-title);
padding: 56px 24px 24px 24px;
position: relative;
}

.loved-img{
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%);
    width: 80px;
}

.loved-title-h3{
font-weight: 600;
font-size: 18px;
line-height: 1.3;
text-align: center;
color: var(--main-text);
margin-bottom: 24px;
}

.loved-text{
font-weight: 400;
font-size: 14px;
line-height: 1.2;
letter-spacing: -0.02em;
text-align: center;
color: rgba(17, 17, 17, 0.7);
max-width: 312px;
}

.loved-btn{
 font-weight: 600;
font-size: 14px;
color: #1e1823;
 border: 1px solid var(--span-color);
border-radius: 100px;
padding: 14px 40px;
background-color: transparent;
display: block;
margin: 0 auto;
transition: background-color var(--transition);
}
.loved-btn:hover,
.loved-btn:focus{
    color: var(--main-title);
    background-color:var(--span-color);
}

/* ---------------FOOTER-------------------------- */
.footer-container{
    background-color:  #1e1823;
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-title{
font-weight: 500;
font-size: 28px;
line-height: 1.2;
letter-spacing: -0.02em;
color: var(--main-title);
margin-bottom: 32px;
}

.footer-title span{
    color: var(--span-color);
}

.footer-text{
font-weight: 500;
font-size: 14px;
line-height: 1.2;
color: var(--main-title);
margin-bottom: 14px;
}
.footer-address-item{
    margin-bottom: 8px;
}
.address-link{
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.2;
letter-spacing: -0.02em;
text-align: center;
color: var(--main-title);
transition: color var(--transition);

}

.address-link:hover,
.address-link:focus{
    color: var(--span-color);
}

.footer-link{
    font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: -0.02em;
color: var(--main-title);
transition: color var(--transition);
}

.footer-link:hover,
.footer-link:focus{
    color: var(--span-color);
}

.wrapper{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 32px;
    margin-bottom: 24px;
}


.footer-list{
    margin-bottom: 32px;
}
 .footer-item:not(:last-child){
    margin-bottom: 18px;
 }

 .footer-form{
    display: flex;
 }
 
.footer-input{
    border: 1.50px solid rgba(255, 255, 255, 0.15);
border-radius: 30px;
padding: 14px 18px;
margin-right: 8px;
background-color: transparent;
outline: none;
color: var(--main-title)
}
.footer-input::placeholder{
    font-weight: 400;
font-size: 14px;
letter-spacing: -0.02em;
color: rgba(255, 255, 255, 0.3);
}

.footer-form-btn{
    font-size: 14px;
    font-weight: 600;
    border-radius: 100px;
    min-width: 120px;
color: var(--main-title);
background-color: var(--span-color);
border: 2px solid transparent;
transition: background-color var(--transition),color var(--transition),border-color var(--transition)
}

.footer-form-btn:hover,
.footer-form-btn:focus{
    background-color: var(--main-title);
    border-color: var(--span-color);
    color: var(--span-color);
}
/* ---------------MODAL------------------- */
.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    background-color: rgba(30, 24, 35, 0.575);
    transition: opacity var(--transition), visibility var(--transition)
}

.modal{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 311px;
min-height: 471px;
background-color: #fafafa;
border-radius: 15px;
padding: 32px 32px;
}

.btn-modal{
    position: absolute;
    top: 14px;
   right: 20px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;

} 

.modal-icon{
    stroke: var(--main-text);
}

.btn-modal:hover .modal-icon,
.btn-modal:focus .modal-icon{
    stroke: var(--span-color);
}

.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-title{
    max-width: 255px;
font-weight: 600;
font-size: 18px;
line-height: 1.2;
letter-spacing: -0.03em;
color: var(--main-text);
margin-bottom: 32px;
}

.modal-title span{
    color: var(--span-color);
}

.modal-input{
    width: 100%;
    height: 45px;
    border: 1.50px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    margin-bottom: 18px;
    background-color: transparent;
    outline: none;
    padding-left: 62px;
    transition:  border-color var(--transition);
    padding-right: 24px;
}
.modal-input::placeholder, .modal-textarea::placeholder{
font-weight: 400;
font-size: 13px;
letter-spacing: -0.02em;
color: rgba(64, 64, 64, 0.3);
}

.modal-input:focus{
    border-color: var(--span-color);
}

.modal-input:focus + .modal-icon-input{
    fill: transparent;
    stroke: var(--span-color);
}
.modal-textarea{
    border: 1.50px solid rgba(17, 17, 17, 0.05);
border-radius: 13px;
padding: 14px 18px;
width: 100%;
height: 91px;
background-color: transparent;
resize: none;
outline: none;
margin-bottom: 18px;
}

.modal-textarea:focus{
    border-color: var(--span-color);
}

.modal-btn-submit{
    display: block;
    margin: 0 auto;
    border-radius: 100px;
    border: 1px solid transparent;
    padding: 14px 40px;
    font-weight: 600;
    font-size: 14px;
    color: var(--main-title);
    background-color: var(--span-color);
    margin-top: 20px;
    transition: background-color var(--transition),color var(--transition),border-color var(--transition)
}

.modal-btn-submit:hover,
.modal-btn-submit:focus{
    background-color: transparent;
    border-color: var(--span-color);
    color: var(--span-color);
}


.modal-wrap{
    position: relative;
}
.modal-icon-input{ 
    position: absolute;
    left: 24px;
    top: 35%;
    transform: translateY(-35%);
    transition: stroke var(--transition );
}

.modal-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(64, 64, 64, 0.6);
}

.modal-label a{
    margin-left: 3px;
    color: var(--span-color);
    text-decoration: underline;
}

.modal-label span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
    transition: background-color var(--transition);
}


.input-check:checked + .modal-label span{
    background-color: var(--span-color);
    fill: var(--main-title);
    border: none;
}


.input-check:focus + .modal-label span{
    border-color: var(--span-color);
  
}